<div class="jumbotron">
    <h1>Our doctors</h1>
</div>
<button class="btn btn-edit-form btn-outline-success" (click)="addDoctor()" *ngIf="userClaims">ADD DOCTOR</button>

<div class="row">
    <div *ngFor="let item of pagedItems" class="col-4 text-center">
        <div class="album img-thumbnail">
            <a class="album-frame d-flex" href='/doctors/{{item.Id}}'>
                <img src="http://localhost:55434/api/images/{{item.ImageId}}" class="image">
            </a>
            <a class="album-footer">
                <h4 class='doctor-name'>{{item.FirstName}} {{item.LastName}}</h4>
                <h5>{{item.Department }}</h5>
            </a>
        </div>
    </div>
</div>
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)">First</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" class="page-item" [ngClass]="{active:pager.currentPage === page}">
        <a class="page-link" (click)="setPage(page)">{{page}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>
<router-outlet name="sidemenu"></router-outlet>