<div class="row">
  <div class="doctor-short-info col-2">
    <div class="alert alert-warning alert-di" role="alert">
      Please cosider the minimum appointment duration is 15 min and no collisions are allowed
    </div>
    <h5>{{ selectedDoctor.Department }}</h5>

    <img src="http://localhost:55434/api/images/{{selectedDoctor.ImageId}}">

      <ng-select [items]="doctors" class="btn-edit-form" (change)="selectedDoctorChanged()" bindLabel="FullName" bindValue="Id" [(ngModel)]="selectedDoctorId">
      </ng-select>
  </div>

  <div class="col-9 btn-edit-form" >
    <scheduler></scheduler>
  </div>
</div>